@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');

div{
    font-family: Kanit !important;
}

a{
    font-family: Kanit !important;
}

p{
    font-family: Kanit !important;
}

h1{
    font-family: Kanit !important;
}

h2{
    font-family: Kanit !important;
}

h3{
    font-family: Kanit !important;
}

h4{
    font-family: Kanit !important;
}

h5{
    font-family: Kanit !important ;
}

h6{
    font-family: Kanit !important;
}

input{
  font-family: Kanit !important;
}

button{
  font-family: Kanit !important;
}

td{
    font-family: Kanit !important;
  }

tr{
font-family: Kanit !important;
}

table{
    font-family: Kanit !important;
    }

.img-cert{
    max-width: 100%;
    height: auto;
}    

a {
    text-decoration: none !important;
}