Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Remove the file extension for clean URLs
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^\.]+)$ $1.php/$1 [NC,L]
</IfModule>

<FilesMatch "^\.env$">
    Order allow,deny
    Deny from all
</FilesMatch>

<Limit GET POST>
    Order allow,deny
    Allow from all
</Limit>